html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /*user-select: none;*/
}
h3 {
  font-size: 20px;
  margin: 0px;
  padding: 0px 0px 20px 0px;
}
ul.listado-inicio {
  list-style: none;
  margin: 0px auto;
  max-width: 700px;
  padding: 0px;
}
.contenedor-texto {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 10px;
  align-items: baseline;
  padding: 10px;
  box-shadow: 0.1px 0.1px 5px #e6e6e6;
  border-radius: 5px;
  transition: 0.35s;
}
.contenedor-texto:hover{
  box-shadow: 0.1px 0.1px 5px #a3a3a3;
}
.contendor.posts {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  max-width: 700px;
  margin: 20px auto 35px;
  background: white;
  border-radius: 5px;
}
.contenedor-tipo-de-grupo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  color: #000000;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.35s;
}
.contenedor-tipo-de-grupo:hover {
  color: #ffbc19;
}
h1.titulo-del-grupo {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}
.categoria-vistas-contenedor {
  display: flex;
  margin-bottom: 20px;
}
.categoria, .vistas {
  color: #000000;
  margin-right: 20px;
  font-size: 18px;
}
.vistas span {
  display: flex;
}
.contador-vistas {
  color: black;
  margin: 0px 5px;
  font-weight: bold;
}
a.link-categoria {
  color: black;
  transition: 0.35s;
}
a.link-categoria:hover {
  color: #ffbc19;
}
.id-unico-grupo {
  font-size: 16px;
  font-weight: 100;
  color: #000000;
}
.contenedor-alerta-terminos label.label-condiciones {
  padding: 0px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
a.condiciones-link, a.privacidad-link {
  color: #242424;
  margin: 5px 10px;
  transition: 0.35s;
}
a.condiciones-link:hover, a.privacidad-link:hover {
  color: #ffbc19;
}
.contenedor-link {
  width: 100%;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}
.btns-admin {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px 20px;
}
.btns-admin-eliminar {
  padding: 7px 20px;
  margin: 0px;
  background: #f44336;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.35s;
}
.btns-admin-eliminar:hover {
  background: #ffbc19;
  color: #242424;
}
.btns-admin-eliminar:active {
  background: #ffe5a2;
  color: #242424;
}

.text-informacion-footer {
  max-width: 700px;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
}
li.titulo-home h1 {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0px 20px;
}
.contenedor-paginas-p {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px auto;
  background: white;
}
li.texto-footer-li {
  text-align: center;
  padding: 10px 0px;
}
input[type="radio"] {
  width: 15px;
  height: 15px;
  margin: 0px !important;
}
.buscador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 5px;
}
.btn-buscador-input-div {
  display: block;
  width: 100%;
}
.btn-buscador-input-div input {
  margin: 0px !important;
  display: block;
  width: 100%;
}
.btn-buscador-div {
  margin: 0px;
}
a.btn-buscador, button.btn-login-google, a.paginaAnterior, ul.categorias-links a, a.btns-admin-editar, a.link-al-grupo, .btn-publicar, footer ul li a{
  display: block;
  background: #242424;
  padding: 7px 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  transition: 0.35s;
  cursor: pointer;
}
a.btn-buscador:hover, button.btn-login-google:hover, a.paginaAnterior:hover, ul.categorias-links a:hover, a.btns-admin-editar:hover, a.link-al-grupo:hover, .btn-publicar:hover, footer ul li a:hover {
  background: #3b3b3b;
  color: #ffbc19;
}
a.btn-buscador:active, button.btn-login-google:active, a.paginaAnterior:active, ul.categorias-links a:active, a.btns-admin-editar:active, a.link-al-grupo:active, .btn-publicar:active, footer ul li a:active {
  background: #8a8a8a;
  color: #ffbc19;
}

a.btn-buscador.desactivado, a.paginaAnterior.desactivado, a.link-al-grupo.desabilitado, .btn-publicar.desabilitado{
  background: #848484;
  cursor: no-drop;
}
a.btn-buscador.desactivado:hover, a.paginaAnterior.desactivado:hover, a.link-al-grupo.desabilitado:hover, .btn-publicar.desabilitado:hover {
  background: #a4a4a4;
}
a.btn-buscador.desactivado:active, a.paginaAnterior.desactivado:active, a.link-al-grupo.desabilitado:active, .btn-publicar.desabilitado:active {
  background: #d3d3d3;
}
.paginado {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
  padding: 10px;
}
.paginado ul {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 20px 0px;
}
.texto-footer {
  max-width: 700px;
  margin: 0px auto;
}
.espaciado-btn-paginado {
  width: 30px;
}
main.main.gruposimple .text-informacion-footer {
  padding: 0px;
}
main.main.gruposimple .text-informacion-footer .buscador {
  padding: 25px 0px 10px;
}
@media(max-width:720px){
  main.main.gruposimple .text-informacion-footer .buscador {
    padding: 20px 10px 10px;
  }
}
.no-hay-resultados {
  padding: 10px;
}
.no-hay-resultados h2 {
  margin: 0px;
  font-size: 50px;
  color: red;
}
ul.categorias-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
ul.categorias-links a {
  display: block;
  margin: 10px 10px 0px 0px;
}
.no-hay-resultados p {
  font-weight: bold;
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-btn-publicar {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px 20px;
}
li.content-btn-publicar-home {
  padding: 0px 10px;
}
li.content-btn-publicar-home .contenedor-btn-publicar {
  padding: 20px 0px 0px 0px;
}
.card-login {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  background: white;
  border-radius: 5px;
  padding: 20px 10px;
}