.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: nowrap;
}
main {
  flex: 1 1 auto;
}
label {
  padding: 5px 12px 5px 5px;
  margin: 5px;
  display: block;
  background: white;
  font-size: medium;
  color: #3a3a3a;
}
.label-condiciones {
  padding: 10px 0px;
  background: transparent;
  font-size: large;
  color: #000000;
}
.seleccionar-check {
  display: flex;
  flex-wrap: wrap;
}
h4 {
  margin: 25px 5px 10px;
}
input[type="text"] {
  padding: 7px 12px;
  margin: 5px;
  box-sizing: border-box;
  font-size: medium;
  width: calc(100% - 10px);
}
h1 {
  margin: 20px 5px;
  font-size: x-large;
}
button.btn-publicar {
  width: 200px;
  font-size: xx-large;
  margin: 20px 5px 30px;
}
.formulario {
  max-width: 700px;
  margin: 20px auto 30px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}
.mensaje {
  padding: 5px 10px;
  background: #fff2f2;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid red;
  margin: 10px 0px;
  color: red;
}
@media(max-width: 480px){
  .contenedor-texto {
    display: flex;
    flex-direction: column;
}
 .categoria-red {
    padding: 12px 0px 0px 0px;
}
}
li.btn-add .contenedor-btn-publicar {
  padding: 0px 10px 20px;
}
.contenedror-sin-contenido-admin {
  padding: 0px 10px 10px 10px;
}
.logotipo a {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}
.logotipo a:hover {
  color: #ffbc19;
}
button.btn-login-google {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 30px auto;
}
.espacio-ante-google {
  width: 5px;
}
h2.h2-login {
  font-size: 20px;
  color: #595959;
  text-align: center;
}
p.p-login {
  text-align: center;
}